<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="main_car">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0530673653634435 0.091337893593515 0.0594021087043407"
        rpy="0 0 0" />
      <mass
        value="0.616866978201299" />
      <inertia
        ixx="0.00451892150568516"
        ixy="-4.61819811352611E-08"
        ixz="-2.58614294696865E-09"
        iyy="0.000759940780752405"
        iyz="-0.000120732123334739"
        izz="0.00403473432084843" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left_wheel_rot">
    <inertial>
      <origin
        xyz="0.0140059336705225 -0.000298132524582662 2.0135971015578E-11"
        rpy="0 0 0" />
      <mass
        value="0.0632357163080549" />
      <inertia
        ixx="9.19085546063061E-05"
        ixy="-8.09825500043694E-07"
        ixz="1.25132504922793E-14"
        iyy="5.38810910412805E-05"
        iyz="2.26921494959108E-14"
        izz="5.38638529227305E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_left_wheel_rot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_left_wheel_rot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel_rot_j"
    type="continuous">
    <origin
      xyz="-0.0212429479041969 0.211254558119221 0.0117"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_left_wheel_rot" />
    <axis
      xyz="0.999773526729787 -0.0212813357260371 0" />
  </joint>
  <link
    name="front_right_wheel_rot">
    <inertial>
      <origin
        xyz="-0.0140091063539903 3.84884683179987E-07 2.00283227502762E-11"
        rpy="0 0 0" />
      <mass
        value="0.063235716308098" />
      <inertia
        ixx="9.1925792684697E-05"
        ixy="-1.04565885402228E-09"
        ixz="-1.11220426362072E-14"
        iyy="5.38638529697828E-05"
        iyz="2.26052393516739E-14"
        izz="5.38638529842843E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_right_wheel_rot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_right_wheel_rot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel_rot_j"
    type="continuous">
    <origin
      xyz="0.131 0.21075 0.0117"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_right_wheel_rot" />
    <axis
      xyz="0.99977 -0.021281 0" />
  </joint>
  <link
    name="back_right_wheel_rot">
    <inertial>
      <origin
        xyz="-0.0140091063592719 2.58148277060277E-11 2.29432965681564E-12"
        rpy="0 0 0" />
      <mass
        value="0.0632357163080607" />
      <inertia
        ixx="9.19257927656535E-05"
        ixy="-2.17969582614652E-14"
        ixz="3.00934958865257E-15"
        iyy="5.38638529938994E-05"
        iyz="-1.47880436948043E-15"
        izz="5.38638529836592E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/back_right_wheel_rot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/back_right_wheel_rot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_wheel_rot_j"
    type="continuous">
    <origin
      xyz="0.16615 0.0085 0.0147"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="back_right_wheel_rot" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="back_left_wheel_rot">
    <inertial>
      <origin
        xyz="0.0140091063592776 2.88695456429622E-11 -1.99775005566005E-11"
        rpy="0 0 0" />
      <mass
        value="0.0632357163080669" />
      <inertia
        ixx="9.19257927664119E-05"
        ixy="2.78823040490674E-14"
        ixz="-1.11055930818235E-14"
        iyy="5.38638529869598E-05"
        iyz="-1.53344977748203E-17"
        izz="5.38638529913604E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/back_left_wheel_rot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/back_left_wheel_rot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_wheel_rot_j"
    type="continuous">
    <origin
      xyz="-0.0488500000002041 0.00849999999999978 0.0147000000000001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="back_left_wheel_rot" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="front_left_wheel_steer">
    <inertial>
      <origin
        xyz="0.0140059336705225 -0.000298132524582634 2.01359692808545E-11"
        rpy="0 0 0" />
      <mass
        value="0.0632357163080549" />
      <inertia
        ixx="9.19085546063061E-05"
        ixy="-8.09825500043695E-07"
        ixz="1.25132506942277E-14"
        iyy="5.38810910412805E-05"
        iyz="2.2692149103525E-14"
        izz="5.38638529227305E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_left_wheel_steer.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_left_wheel_steer.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel_steer_j"
    type="revolute">
    <origin
      xyz="-0.021243 0.21125 0.0117"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_left_wheel_steer" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="5.6723"
      upper="0.61087"
      effort="0"
      velocity="0.5" />
  </joint>
  <link
    name="front_right_wheel_steer">
    <inertial>
      <origin
        xyz="-0.0140091063539903 3.84884683179987E-07 2.00283210155527E-11"
        rpy="0 0 0" />
      <mass
        value="0.063235716308098" />
      <inertia
        ixx="9.1925792684697E-05"
        ixy="-1.04565885402314E-09"
        ixz="-1.11220428123062E-14"
        iyy="5.38638529697828E-05"
        iyz="2.26052384346766E-14"
        izz="5.38638529842843E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_right_wheel_steer.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_right_wheel_steer.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel_steer_j"
    type="revolute">
    <origin
      xyz="0.131 0.21075 0.0117"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_right_wheel_steer" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="5.6723"
      upper="0.61087"
      effort="0"
      velocity="0.5" />
  </joint>
</robot>