<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="main_car">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0527910074654357 0.0895412065193495 0.0546228756098573"
        rpy="0 0 0" />
      <mass
        value="0.58722731346914" />
      <inertia
        ixx="0.00329941636083391"
        ixy="-3.23221668544828E-08"
        ixz="-3.9626268200619E-10"
        iyy="0.000709920106006346"
        iyz="3.41899882366905E-05"
        izz="0.00286505065874297" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="front_left_wheel_rot">
    <inertial>
      <origin
        xyz="0.0140059336705226 -0.000298132524582467 2.01352007983546E-11"
        rpy="0 0 0" />
      <mass
        value="0.0632357163080549" />
      <inertia
        ixx="9.1908554611613E-05"
        ixy="-8.09825499877721E-07"
        ixz="1.20157582111866E-14"
        iyy="5.3881091035979E-05"
        iyz="2.79976255176767E-14"
        izz="5.38638529333492E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_left_wheel_rot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_left_wheel_rot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel_rot_j"
    type="continuous">
    <origin
      xyz="-0.0212429479041969 0.211254558119221 0.0117"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_left_wheel_rot" />
    <axis
      xyz="0.999773526729787 -0.0212813357260371 0" />
  </joint>
  <link
    name="front_right_wheel_rot">
    <inertial>
      <origin
        xyz="-0.0140091063539903 3.84884682902431E-07 2.00286228574376E-11"
        rpy="0 0 0" />
      <mass
        value="0.063235716308098" />
      <inertia
        ixx="9.19257926635391E-05"
        ixy="-1.04565885374145E-09"
        ixz="-1.11206332803865E-14"
        iyy="5.38638529486252E-05"
        iyz="2.78948552972781E-14"
        izz="5.3863852984284E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_right_wheel_rot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_right_wheel_rot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel_rot_j"
    type="continuous">
    <origin
      xyz="0.131001462865903 0.210751140085241 0.0117"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_right_wheel_rot" />
    <axis
      xyz="0.999773526729787 -0.0212813357260373 0" />
  </joint>
  <link
    name="back_right_wheel_rot">
    <inertial>
      <origin
        xyz="-0.0140091063592719 2.58138736081159E-11 2.29399832463173E-12"
        rpy="0 0 0" />
      <mass
        value="0.0632357163080608" />
      <inertia
        ixx="9.19257927908156E-05"
        ixy="-2.17957699494684E-14"
        ixz="3.00941144706054E-15"
        iyy="5.38638530150891E-05"
        iyz="3.81958524520263E-15"
        izz="5.38638529876316E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/back_right_wheel_rot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/back_right_wheel_rot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_wheel_rot_j"
    type="continuous">
    <origin
      xyz="0.166149999999796 0.00849999999999998 0.0147"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="back_right_wheel_rot" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="back_left_wheel_rot">
    <inertial>
      <origin
        xyz="0.0140091063592776 2.88698388112296E-11 -1.99776098441795E-11"
        rpy="0 0 0" />
      <mass
        value="0.0632357163080669" />
      <inertia
        ixx="9.19257927875312E-05"
        ixy="2.78834430123702E-14"
        ixz="-1.11056897698667E-14"
        iyy="5.38638529869603E-05"
        iyz="-1.47196585190975E-17"
        izz="5.38638530124792E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/back_left_wheel_rot.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/back_left_wheel_rot.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_wheel_rot_j"
    type="continuous">
    <origin
      xyz="-0.0488500000002041 0.00849999999999978 0.0147000000000001"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="back_left_wheel_rot" />
    <axis
      xyz="1 0 0" />
  </joint>
  <link
    name="front_left_wheel_steer">
    <inertial>
      <origin
        xyz="0.0140059336705226 -0.00029813252458244 2.01352007983546E-11"
        rpy="0 0 0" />
      <mass
        value="0.0632357163080549" />
      <inertia
        ixx="9.1908554611613E-05"
        ixy="-8.09825499877721E-07"
        ixz="1.20157593081703E-14"
        iyy="5.3881091035979E-05"
        iyz="2.79976252822301E-14"
        izz="5.38638529333492E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_left_wheel_steer.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_left_wheel_steer.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel_steer_j"
    type="revolute">
    <origin
      xyz="-0.0212429479041969 0.211254558119221 0.0117"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_left_wheel_steer" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="5.6723"
      upper="0.61087"
      effort="0"
      velocity="0.5" />
  </joint>
  <link
    name="front_right_wheel_steer">
    <inertial>
      <origin
        xyz="-0.0140091063539903 3.84884682902431E-07 2.00286228574376E-11"
        rpy="0 0 0" />
      <mass
        value="0.063235716308098" />
      <inertia
        ixx="9.19257926635391E-05"
        ixy="-1.0456588537411E-09"
        ixz="-1.11206335986572E-14"
        iyy="5.38638529486252E-05"
        iyz="2.78948558002588E-14"
        izz="5.3863852984284E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_right_wheel_steer.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.96078431372549 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://main_car/meshes/front_right_wheel_steer.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel_steer_j"
    type="revolute">
    <origin
      xyz="0.131001462865903 0.210751140085241 0.0117"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_right_wheel_steer" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="5.6723"
      upper="0.61087"
      effort="0"
      velocity="0.5" />
  </joint>
</robot>